@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li, ol {
  list-style: none;
}
ul {
  list-style-type: none;
}

:root {
  font-size: 14px;
  line-height: 1.5;
}

@import "app";



